<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="loadUserTrips($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <h1 class="ion-padding-bottom">Planned trips</h1>
  <ng-container *ngIf="trips.length; else noData">
    <ion-card *ngFor="let trip of trips">
      <ion-card-header>
        <ion-card-title (click)="editTrip(trip)">{{trip.name}}</ion-card-title>
        <ion-card-subtitle>{{trip.timeWindow.start.toFormat('y-LL-dd\' \'hh:mm')}}
          - {{trip.timeWindow.end.toFormat('hh:mm')}}</ion-card-subtitle>
        <ion-card-subtitle>{{trip.point.end.place_name}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content *ngIf="getMatchedTrips(trip.id) as trips; else noTrips">
        <ng-container *ngIf="trips?.length">
          <ng-container *ngFor="let trip of trips">
            <ion-item>
              <ion-icon name="flag-outline"></ion-icon>
              <ion-label class="ion-padding-start">{{ trip.point.end.place_name }}</ion-label>
              <ng-container *ngIf="getUser(trip.userId) as user">
                <span class="ion-justify-content-end ion-padding-end">{{ user.name }}</span>
                <a href="tel:{{user.phone}}">
                  <ion-icon color="green" name="call" size="large"></ion-icon>
                </a>
              </ng-container>
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-card-content>

      <ng-template #noTrips>
        <ion-card-content>
          There is no matched trip at the moment.
        </ion-card-content>
      </ng-template>
    </ion-card>
  </ng-container>

  <ng-template #noData>
    <ion-label>You have not planned any trip yet.</ion-label>
  </ng-template>

  <h1 class="ion-padding-bottom">Suggested trips</h1>
  <ng-container *ngIf="suggestedTrips?.length">
    <ion-card *ngFor="let suggestedTrip of suggestedTrips">
      <ion-card-header>
        <ion-card-title>{{suggestedTrip.name}}</ion-card-title>
        <ion-card-subtitle>{{suggestedTrip.timeWindow.start.toFormat('y-LL-dd\' \'hh:mm')}}
          - {{suggestedTrip.timeWindow.end.toFormat('hh:mm')}}</ion-card-subtitle>
        <ion-card-subtitle>{{suggestedTrip.point.end.place_name}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ng-container *ngIf="getUser(suggestedTrip.userId) as user">
          <ion-item>
            <ion-icon name="bulb-outline"></ion-icon>
            <ion-label class="ion-padding-start">This is {{ user.name }}'s trip</ion-label>
            <a href="tel:{{user.phone}}">
              <ion-icon color="green" name="call" size="large"></ion-icon>
            </a>
          </ion-item>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>

<ion-fab class="ion-padding" slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button (click)="openCreateModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal [isOpen]="isModalOpened" (willDismiss)="isModalOpened = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title *ngIf="!tripForEdit">Create your trip</ion-title>
        <ion-title *ngIf="tripForEdit">Edit your {{tripForEdit.name }} trip</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()"
                      [strong]="true">{{ !!tripForEdit ? 'Edit' : 'Create'}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Enter trip name</ion-label>
          <ion-input type="text" placeholder="Trip name" [(ngModel)]="tripName"></ion-input>
        </ion-item>
        <ng-container *ngIf="!startAddress; else start">
          <ion-searchbar placeholder="Find start address" [debounce]="500"
                         (ionChange)="searchAddress($event, 'start')"></ion-searchbar>

          <ion-list *ngIf="startSuggestions">
            <ion-item *ngFor="let address of startSuggestions" button (click)="selectStartPoint(address)">
              <ion-label>{{ address.place_name }}</ion-label>
            </ion-item>
          </ion-list>
        </ng-container>

        <ng-template #start>
          <ion-item>
            <ion-label>Start Address</ion-label>
            <ion-text (click)="startAddress = undefined">{{startAddress?.place_name}}</ion-text>
          </ion-item>
        </ng-template>

        <ng-container *ngIf="!endAddress; else end">
          <ion-searchbar placeholder="Find destination" [debounce]="500"
                         (ionChange)="searchAddress($event, 'end')"></ion-searchbar>

          <ion-list *ngIf="endSuggestions">
            <ion-item *ngFor="let address of endSuggestions" button (click)="selectEndPoint(address)">
              <ion-label>{{ address.place_name }}</ion-label>
            </ion-item>
          </ion-list>
        </ng-container>

        <ng-template #end>
          <ion-item>
            <ion-label>End Address</ion-label>
            <ion-text (click)="endAddress = undefined">{{endAddress?.place_name}}</ion-text>
          </ion-item>
        </ng-template>

        <ion-item>
          <ion-label position="floating">Enter radius (m)</ion-label>
          <ion-input type="number" placeholder="Radius" [(ngModel)]="radius"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Choose start time</ion-label>
          <ion-datetime-button datetime="startTime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="startTime" [(ngModel)]="startTime"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-item>
          <ion-label>Choose end time</ion-label>
          <ion-datetime-button datetime="endTime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="endTime" [(ngModel)]="endTime"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
