<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bonuses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img alt="barcode" width="100%" src="assets/barcode.gif"/>
    <ion-card-header>
      <ion-card-title>Congrats
        <ion-icon name="rocket-outline" size="medium"></ion-icon>
      </ion-card-title>
      <ion-card-subtitle>You received a fuel card for your November trips!</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
